<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layout/common :: head('Instargram')"></head>
<body>
<head th:replace="layout/common :: menu('menu')"></head>
<!--사진 업로드페이지 중앙배치-->
<main class="uploadContainer">
    <!--사진업로드 박스-->
    <section class="upload">

        <!--사진업로드 로고-->
        <div class="upload-top">
            <a href="/user/story.html" class="">
                <img src="/img/logo_text.png" alt="">
            </a>
            <p></p>
            <h6>사진 업로드</h6>
        </div>
        <!--사진업로드 로고 end-->

        <!--사진업로드 Form-->
        <form class="upload-form" action="/post" method="post" enctype="multipart/form-data">
            <input  type="file" name="uploadImgUrl" id="uploadImgUrl" th:onchange="|imageChoose(this)|"/>
            <div class="upload-img">
                <img src="/img/default_profile.jpg" alt="" id="imageUploadPreview" />
            </div>

            <!--사진설명 + 업로드버튼-->
            <div class="upload-form-detail">
                <textarea class="input_upload" name="text" id="text" rows="5"> </textarea>
                <input type="text" placeholder="태그. 공백 없이 ,로 구분하여 입력해주세요." name="tag" id="tag" />
                <button class="cta blue" >업로드</button>
            </div>
            <!--사진설명end-->

        </form>
        <!--사진업로드 Form-->
    </section>
    <!--사진업로드 박스 end-->
</main>
<br/><br/>
<footer th:replace="layout/common :: footer('footer')"></footer>
<script src="/js/upload.js" ></script>
</body>
</html>