.container {
    width: 350px;
    height: 440px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    background-color: #fff;
    border: 1px solid #DBDBDB;
    text-align: center;
}
img.logo_instagram {
    align-self: center;
    width: 175px;
    margin: 35px 0;
}
.username {
    width: 270px;
    height: 40px;
    margin: 3px auto;
    padding: 0 10px;
    display: block;
    background-color: #fafafa;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    font-size: 14px;
}
.username::placeholder {
    font-size: 12px;
    color: #8e8e8e;
}
.username:focus {
    border: 1px solid #8a8a8a;
    outline: none;
}
.password {
    width: 270px;
    height: 40px;
    margin: 3px auto;
    padding: 0 10px;
    display: block;
    background-color: #fafafa;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    font-size: 14px;
}
.password::placeholder {
    font-size: 12px;
    color: #8e8e8e;
}
.password:focus {
    border: 1px solid #8a8a8a;
    outline: none;
}
#btn_login {
    width: 268px;
    height: 30px;
    margin: 13px auto;
    background-color: #0095f6;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    font-weight: 600;
}
#btn_login:disabled {
    background-color: #B9DFFC;
}
#btn_login:disabled:hover {
    cursor: default;
}
#btn_login:enabled:hover {
    cursor: pointer;
}
#btn_login:focus {
    outline: none;
}
a {
    cursor: default;
}
.button_signup {
    color : #00366B;
    align-self: center;
    font-size: 12px;
    margin-top: 30px;
    text-decoration:none
}
.button_signup:hover {
    cursor: pointer;
}

/* 페이스북로그인 영역 */
.login_facebook {
    padding: 0 40px;
    margin-top: 15px;
}
/*페이스북 로그인 버튼*/
.login_facebook .btn_facebook {
    background-color: #fff;
    width: 100%;
    height: 30px;
    border: 0;
    font-weight: 600;
    font-size: 15px;
    color : #00366B;
    text-decoration:none
}
.btn_facebook:hover {
    cursor: pointer;
}
/*페이스북 이미지*/
img.logo_facebook {
    align-self: center;
    width: 20px;
    vertical-align: bottom;
}

.login_input_check {
    color: red;
}

