.profileContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 935px;
    margin: 0 auto;
    height: 100%;
}

.profile_main {
    width: 960px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 40px;
}

/* Profile */
.profile {
    height: 300px;
    display: flex;
    /*margin: 54px 0 44px;*/
}
.profile > .profileContainer {
    padding: 10px 10px 0;
}
.profile .profile-left,
.profile .profile-right {
    align-content: center;
    height: 100%;
}
.profile .profile-left {
    flex-basis: 60%;
    display: flex;
    justify-content: center;
}
.profile .profile-right {
    flex-basis: 60%;
}
.profile .profile-left {
    width: 162px;
    /*height: 200px;*/
    margin-top: 30px;
    border-radius: 50%;
    position: relative;
    align-content: center;
    cursor: pointer;
}
.profile-img-wrap {
    width: 200px;
    height: 200px;
    padding: 6px;
    border-radius: 50%;
    position: center;
    align-content: center;
    cursor: pointer;
}

.profile .profile-left .profile-img-wrap img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    align-content: center;
    z-index: 1;
    object-fit: cover;
}
.profile .profile-right .name-group {
    display: flex;
    margin-bottom: 20px;
}
.profile .profile-right .name-group h2 {
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
    margin-right: 30px;
}
.profile .profile-right .name-group .cta {
    margin-right: 10px;
    /*padding: 5px 9px;*/
    border: 1px solid rgba(123,123,123,0.42);;
    border-radius: 4px;
    color: #262626;
    font-weight: bold;
    background: transparent;
}
.profile .profile-right .name-group .modi {
    border: none;
    background: none;
}
.modi:enabled:hover {
    cursor: pointer;
}
.follow:hover{
    cursor: pointer;
}

.profile .profile-right .name-group .modi i {
    font-size: 20px;
    padding: 8px;
}
.profile .profile-right .subscribe {
    height: 28px;
    margin-bottom: 5px;
}
.profile .profile-right .subscribe ul {
    display: flex;
}
.profile .profile-right .subscribe ul li {
    margin-right: 18px;
}
.profile .profile-right .subscribe ul li a {
    font-size: 16px;
    color: #262626;
}
.profile .profile-right .subscribe ul li a span {
    font-weight: bold;
    margin-left: 4px;
}
.profile .profile-right .state h4 {
    margin-bottom: 1px;
}

/* story */
.story {
    height: 130px;
    margin-bottom: 44px;
}
.story .profileContainer {
    padding: 0 48px;
    display: flex;
    justify-content: flex-start;
}
.story .profileContainer .story-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 24px;
    cursor: pointer;
}
.story .profileContainer .story-item .stroy-img {
    width: 87px;
    height: 87px;
    padding: 3px;
    border: 1px solid gainsboro;
    border-radius: 50%;
}
.story .profileContainer .story-item .stroy-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.story .profileContainer .story-item .story-name {
    padding-top: 10px;
}
.story .profileContainer .story-item .story-name p {
    font-size: 14px;
    font-weight: bold;
}

/* Tab-controller */
.gallery .profileContainer .controller {
    height: 20px;
    width: 100%;
    border-top: 1px solid #dbdbdb;
}
.gallery .profileContainer .controller .con-list .tab-item {
    margin-right: 60px;
    height: 100%;
    line-height: 53px;
}
.gallery .profileContainer .controller .con-list {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery .profileContainer .controller .con-list a {
    color: rgba(123,123,123,0.82);
    display: inline-block;
    height: 100%;
}
.gallery .profileContainer .controller .con-list i {
    font-size: 8px;
    margin-right: 6px;
    vertical-align: 1px;
}
.gallery .profileContainer .controller .con-list span {
    font-size: 12px;
}

/* Tab-content 1*/
#tab-content #tab-1-content {
    width: 100%;
    margin-bottom: 30px;
}
#tab-content #tab-1-content .tab-1-content-inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}
#tab-content #tab-1-content .tab-1-content-inner .img-box {
    position: relative;
    height: 293px;
}
#tab-content #tab-1-content .tab-1-content-inner .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#tab-content #tab-1-content .tab-1-content-inner .img-box .comment {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
}
#tab-content #tab-1-content .tab-1-content-inner .img-box:hover .comment {
    background: rgba(0, 0, 0, 0.6);
    opacity: 1;
}
#tab-content #tab-1-content .tab-1-content-inner .img-box .comment a,#tab-content #tab-1-content .tab-1-content-inner .img-box .comment a span{
    color: #fff;
}
#tab-content #tab-1-content .tab-1-content-inner .img-box .comment a i {
    margin-right: 10px;
}

/* Sub2 */
.popular {
    width: 100%;
}
.popular .profileContainer {
    flex-direction: column;
}
.popular .profileContainer .popular-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-bottom: 30px;
}
.popular .profileContainer .popular-gallery.popular-top .p-img-box {
    width: 100%;
    min-height: 292px;
}
.popular .profileContainer .popular-gallery.popular-top .p-img-box:nth-child(2) {
    grid-column: 2/4;
    grid-row: 1/3;
}
.popular .profileContainer .popular-gallery .p-img-box {
    width: 292px;
    min-height: 292px;
}
.popular .profileContainer .popular-gallery .p-img-box img {
    display: block;
    width: 100%;
    height: 100%;
}

/* Event */
#tab-1-content,
#tab-2-content,
#tab-3-content,
#tab-5-content {
    display: none;
}
.show {
    display: block !important;
}
.tab-item {
    border-top: 1px solid transparent;
}
.tab-border {
    border-top: 1px solid #000;
}
.tab-border a i,
.tab-border a span {
    color: #000;
    font-weight: bold;
}


.profile-image {
    z-index: 1;
}

.modal-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    align-items: center;
    justify-content: center;
}
.modal-image .modal {
    width: 400px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.modal-image .modal button {
    border: 0;
    background-color: transparent;
    height: 48px;
    cursor: pointer;
}
.modal-image .modal p {
    line-height: 50px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    color: #222;
    font-size: 18px;
}
.modal-image .modal button:nth-child(2) {
    font-weight: 600;
    color: #0095f6;
}
.modal-image .modal button:not(:last-child) {
    border-bottom: 1px solid #dbdbdb;
}

.modal-follower {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    align-items: center;
    justify-content: center;
}
.modal-follower .subscribe {
    width: 600px;
    height: 500px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.modal-follower .subscribe .subscribe-header {
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    position: relative;
}
.modal-follower .subscribe .subscribe-header button {
    position: absolute;
    right: 15px;
    top: 15px;
    background-color: transparent;
    border: 0;
}
.modal-follower .subscribe .subscribe-header button i {
    font-size: 20px;
}
.modal-follower .subscribe .subscribe-list {
    overflow: hidden;
    overflow-y: auto;
}
.modal-follower .subscribe .subscribe-list .subscribe__item {
    display: flex;
    height: 80px;
    padding: 10px;
    align-items: center;
}
.modal-follower .subscribe .subscribe-list .subscribe__item .subscribe__img {
    width: 80px;
    text-align: center;
}
.modal-follower .subscribe .subscribe-list .subscribe__item .subscribe__img {
    width: 80px;
    text-align: center;
}
.modal-follower .subscribe .subscribe-list .subscribe__item .subscribe__img img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.modal-follower .subscribe .subscribe-list .subscribe__item .subscribe__text {
    padding-top: 5px;
}
.modal-follower .subscribe .subscribe-list .subscribe__item .subscribe__text h2 {
    font-size: 16px;
    line-height: 50px;
}
.modal-follower .subscribe .subscribe-list .subscribe__item .subscribe__btn {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.modal-following {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    align-items: center;
    justify-content: center;
}
.modal-following .subscribe {
    width: 600px;
    height: 500px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.modal-following .subscribe .subscribe-header {
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    position: relative;
}
.modal-following .subscribe .subscribe-header button {
    position: absolute;
    right: 15px;
    top: 15px;
    background-color: transparent;
    border: 0;
}
.modal-following .subscribe .subscribe-header button i {
    font-size: 20px;
}
.modal-following .subscribe .subscribe-list {
    overflow: hidden;
    overflow-y: auto;
}
.modal-following .subscribe .subscribe-list .subscribe__item {
    display: flex;
    height: 80px;
    padding: 10px;
    align-items: center;
}
.modal-following .subscribe .subscribe-list .subscribe__item .subscribe__img {
    width: 80px;
    text-align: center;
}
.modal-following .subscribe .subscribe-list .subscribe__item .subscribe__img {
    width: 80px;
    text-align: center;
}
.modal-following .subscribe .subscribe-list .subscribe__item .subscribe__img img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.modal-following .subscribe .subscribe-list .subscribe__item .subscribe__text {
    padding-top: 5px;
}
.modal-following .subscribe .subscribe-list .subscribe__item .subscribe__text h2 {
    font-size: 16px;
    line-height: 50px;
}
.modal-following .subscribe .subscribe-list .subscribe__item .subscribe__btn {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.modal-post {
    position: fixed;
    float: left;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    align-items: center;
    justify-content: center;
}
.modal-post .subscribe {
    width: 400px;
    height: 800px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.modal-post .subscribe .subscribe-header {
    /*text-align: center;*/
    line-height: 50px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    position: relative;
}
.modal-post .subscribe .subscribe-header .exit {
    position: absolute;
    right: 15px;
    top: 15px;
    background-color: transparent;
    border: 0;
}
.modal-post .subscribe .subscribe-header .edit {
    position: absolute;
    top: 15px;
    background-color: transparent;
    border: 0;
}
.edit {
    cursor: pointer;
}
.modal-post .subscribe .subscribe-header button i {
    font-size: 20px;
}
.modal-post .subscribe .subscribe-list {
    align-items: center;
    overflow: hidden;
}
.modal-post .subscribe .subscribe-list .subscribe__item {
    display: flex;
    padding: 10px;
}
.post-box {
    width: 100%;
    height: 100%;
    position: relative;
}
.post-box .subscribe__img {
    width: 100%;
    align-items: center;
}
.post-box img {
    width: inherit;
    height: 400px;
    object-fit: cover;
}
.comment {
    width: 100%;
    display: flex;
}
.comment-info {
    overflow: hidden;
    overflow-y: auto;
}
.input-comment-post {
    font-size: 14px;
    width: 350px;
    height: 18px;
    padding: 28px 16px;
    border-style: none;
    border-radius: 10px;
    box-sizing: border-box;
    color: #262626;
}
.input-comment-post:focus {
    outline: none;
}
.input-comment-post::placeholder {
    color: #8e8e8e;
}
button.submit-comment {
    color: #0095f6;
    background-color: #fff;
    border-style: none;
    height: 100%;
    width: 40px;
    padding: 4px;
    font-size: 14px;
    font-weight: 600;
}
.submit-comment:disabled {
    color: #B9DFFC;
}
button.submit-comment:focus {
    outline: none;
}


.cta {
    margin-right: 10px;
    margin-top: 20px;
    height: 30px;
    /*padding: 10px 10px*/
    border: 1px solid rgba(123,123,123,0.42);
    border-radius: 4px;
    color: #262626;
    font-weight: bold;
    background: transparent;
}
.cta.blue {
    background: #0095f6 !important;
    color: #fff !important;
}
.cta:enabled:hover {
    cursor: pointer;
}
.cta-follow {
    margin-right: 10px;
    height: 30px;
    border: 1px solid rgba(123,123,123,0.42);
    border-radius: 4px;
    color: #262626;
    font-weight: bold;
    background: transparent;
}
.cta-follow.blue {
    background: #0095f6 !important;
    color: #fff !important;
}
.cta-follow:enabled:hover {
    cursor: pointer;
}
.exit:enabled:hover {
    cursor: pointer;
}

.modal-info {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    align-items: center;
    justify-content: center;
}
.modal-info .modal {
    width: 400px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.modal-info .modal button {
    border: 0;
    background-color: transparent;
    height: 48px;
    cursor: pointer;
}

.modal-info .modal button:not(:last-child) {
    border-bottom: 1px solid #dbdbdb;
}

/* Animation */
@keyframes loading {
    100% {
        stroke: #cd476b;

        transform: rotate(200deg);
    }
}

/* Media */
@media screen and (max-width: 935px) {
    .profileContainer {
        width: 100%;
    }
}

.post-div {
    overflow-y: auto;
    height: 290px;
}

.post-img-profile {
    width: 32px;
    height: 32px;
    border: 1px solid #fafafa;
    border-radius: 100%;
    align-content: center;
    position: relative;
    top: 10px;
    margin-left: 5px;
}
