<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/common :: head('Instargram')"></head>
<body>
<head th:replace="layout/common :: menu('menu')"></head>
<!--프로필셋팅 메인-->
<main class="main">
    <!--프로필셋팅 섹션-->
    <section class="setting-container">
        <!--프로필셋팅 아티클-->
        <article class="setting__content">
            <!--프로필셋팅 아이디영역-->
            <div class="content-item__01">
                <div class="item__img">
                    <img th:src="@{${'/profile_imgs/' + #authentication.getPrincipal().getUser().getProfileImgUrl()}}" onerror="this.src='/img/default_profile.jpg';"/>
                </div>
                <div class="item__username">
                    <h2 th:text="${#authentication.getPrincipal().getUser().getName()}" ></h2>
                </div>
            </div>
            <!--프로필셋팅 아이디영역end-->

            <!--프로필 수정-->
            <form id="profileUpdate" action="/user/update" method="post" enctype="multipart/form-data">
                <input type="hidden" name="id" id="id" th:value="${#authentication.getPrincipal().getUser().getId()}">
                <div class="content-item__02">
                    <div class="item__title">이메일</div>
                    <div class="item__input">
                        <input class="input_update" type="text" name="email" id="email"  th:value="${#authentication.getPrincipal().getUser().getEmail()}" readonly="readonly"/>
                    </div>
                </div>
                <div class="content-item__02">
                    <div class="item__title">프로필 사진</div>
                    <div class="item__input">
                        <input class="input_update" type="file" name="profileImgUrl" id="profileImgUrl">
                    </div>
                </div>
                <div class="content-item__03">
                    <div class="item__title">이름</div>
                    <div class="item__input">
                        <input class="input_update" type="text" name="name" id="name" placeholder="유저네임" th:value="${#authentication.getPrincipal().getUser().getName()}" required="required" />
                    </div>
                </div>
                <div class="content-item__04">
                    <div class="item__title">패스워드</div>
                    <div class="item__input">
                        <input class="input_update" type="password" name="password" id="password" placeholder="패스워드" required="required"/>
                    </div>
                </div>
                <div class="content-item__05">
                    <div class="item__title">웹사이트</div>
                    <div class="item__input">
                        <input class="input_update" type="text" name="website" id="website" placeholder="웹 사이트" th:value="${#authentication.getPrincipal().getUser().getWebsite()}" />
                    </div>
                </div>
                <div class="content-item__06">
                    <div class="item__title">소개</div>
                    <div class="item__input">
                        <textarea class="input_update" name="title" id="title" rows="3" th:text="${#authentication.getPrincipal().getUser().getTitle()}"> </textarea>
                    </div>
                </div>
                <div class="content-item__09">
                    <div class="item__title">전회번호</div>
                    <div class="item__input">
                        <input class="input_update" type="text" name="phone" id="phone" placeholder="전화번호" th:value="${#authentication.getPrincipal().getUser().getPhone()}" />
                    </div>
                </div>

                <!--제출버튼-->
                <div class="content-item__11">
                    <div class="item__input">
                        <button id="btn_update">제출</button>
                    </div>
                </div>
                <!--제출버튼end-->
            </form>
            <!--프로필수정 form end-->
        </article>
    </section>
</main>
<footer th:replace="layout/common :: footer('footer')"></footer>
</body>
</html>